.edit-user-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9; /* Change background color */
    border: 1px solid #ccc;
    border-radius: 10px; /* Increase border radius for smoother edges */
    padding: 30px; /* Increase padding for more spacious layout */
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  }
  
  .edit-user-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Increase margin bottom for better separation */
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 12px; /* Increase padding for larger input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increase font size for better readability */
  }
  
  select {
    appearance: none;
  }
  
  button {
    padding: 12px 20px; /* Increase padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    // background-color: #4CAF50; /* Change primary button color */
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    margin-left: 10px;
  }
  